<%= content_tag(:div, class: "main-gov") do %>
  <%= content_tag(:div, class: "topbar") do %>

    <%= content_tag(:div, class: "logo-gana") do %>
      <%= link_to root_path do %>
        <%= image_tag("logo-white-gana") %>
      <% end %>
    <% end %>

    <%= content_tag(:div, class: "links-gana") do %>
      <%= link_to citizen_index_path do %>
        Contacto
      <% end %>
      <%= link_to citizen_index_path do %>
        Nosotros
      <% end %>
      <%= link_to citizen_index_path do %>
        ¿Que és?
      <% end %>
      <%= link_to citizen_index_path do %>
        Ciudadanía+
      <% end %>
      <%= link_to government_index_path do %>
        Gobierno+
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag(:div, class: "gana-instructions") do %>
    <%= link_to citizen_index_path do %>
      <div class="gana-g">
      </div>
      <%= content_tag(:p, "Genera") %>
    <% end %>
    <%= link_to citizen_index_path do %>
      <div class="gana-a1">
      </div>
      <%= content_tag(:p, "Arranca") %>
    <% end %>
    <%= link_to citizen_index_path do %>
      <div class="gana-n">
      </div>
      <%= content_tag(:p, "Genera") %>
    <% end %>
    <%= link_to citizen_index_path do %>
      <div class="gana-a2">
      </div>
      <%= content_tag(:p, "Aporta") %>
    <% end %>
    <%= link_to citizen_index_path do %>
      <div class="gana-mas">
      </div>
      <%= content_tag(:p, "Plus") %>
    <% end %>
  <% end %>
  <hr />
  <%= content_tag(:p, "teste", class:"teste") %>
<% end %>
