<%= render template: "topbar/index" %>

<%= content_tag(:div, class: "main-genera") do %>
  <%= content_tag(:div, class: "gana-div") do %>
    <%= link_to gana_genera_index_path do %>
      <div class="gana-genera-g">
      </div>
    <% end %>
    <%= link_to gana_arranca_index_path do %>
      <div class="gana-genera-a1">
      </div>
    <% end %>
    <%= link_to gana_navega_index_path do %>
      <div class="gana-genera-n">
      </div>
    <% end %>
    <%= link_to gana_aporta_index_path do %>
      <div class="gana-genera-a2">
      </div>
    <% end %>
    <%= link_to gana_mas_index_path do %>
      <div class="gana-genera-mas">
      </div>
    <% end %>
  <% end %>
  <p>Kit de <b>herramientas</b> para Presupuestos Participativos</p>

  <hr class="hr1">

  <%= content_tag(:div, class: "first-step") do %>
    <%= content_tag(:div, class: "image-first-step") do %>
      <div class="gana-genera-first-step"></div>
    <% end %>

    <%= content_tag(:div, class: "text-first-step") do %>
      <h3>Es el primer paso de nuestro recorrido.</h3>
      <%= content_tag(:p, "Aquí vamos a conformar el grupo promotor, implicando a diferentes actores en la gestación e implementación de los presupuestos participativos.") %>
      <%= image_tag("WEB-GANA-55") %>
    <% end %>
  <% end %>

  <hr class="hr2">
  <%= content_tag(:div, class: "genera-second-step") do %>
    <%= content_tag(:div, class: "second-step-flex") do %>
      <%= content_tag(:div, class: "images-genera-second-step") do %>
        <%= image_tag("WEB-GANA-53", class: "background-blue") %>
        <%= content_tag(:div, class: "img-genera-secon-step") do %>
          <%= image_tag("WEB-GANA-54", class: "genera-herramientas") %>
          <%= image_tag("WEB-GANA-61", class: "gana-mas-image") %>
        <% end %>
      <% end %>
      <%= content_tag(:div, class: "second-step-content") do %>
        <%= image_tag("WEB-GANA-67", class: "title-second-step") %>
        <%= content_tag(:p, "Conformaremos un equipo promotor formado por políticos, expertos, sociedad civil y organizaciones. ") %>
      <% end %>
    <% end %>

    <%= content_tag(:div, class: "blue-genera-second-step") do %>
      <%= content_tag(:p, "TESTESTESETTESTESTESETTESTESTESETTESTESTESETTESTESTESETTESTESTESETTESTESTESETTESTESTESETTESTESTESET", class: "paragraph-arrow-second-step") %>
      <%= image_tag("WEB-GANA-74", class: "arrow-second-step") %>

      <div class="background-second-step">
      </div>
    <% end %>
    <%= content_tag(:div, class: "descarga-second-step") do %>
      <%= image_tag("WEB-GANA-59", class: "teste2") %>
      <%= image_tag("WEB-GANA-60", class: "teste1") %>
    <% end %>
  <% end %>

  <hr class="hr3">

  <%= content_tag(:div, class: "gana-actores") do %>
    <%= content_tag(:div, class: "gana-actores-title") do %>
      <%= content_tag(:div, class: "title-actores") do %>
        <%= image_tag("WEB-GANA-56", class: "name-title-actors") %>
        <p> Conformaremos un <b>equipo promotor</b> formado por políticos, expertos, sociedad civil y organizaciones.</p>
      <% end %>
      <%= image_tag("WEB-GANA-57", class: "personas-title-actors") %>
    <% end %>

  <% end %>
<% end %>



<!-- <%= render template: "footer/index" %> -->
