<%= render template: "topbar/index" %>

<%= content_tag(:div, class: "main-genera") do %>
  <%= content_tag(:div, class: "gana-div") do %>
    <%= link_to gana_genera_index_path do %>
      <div class="gana-genera-g">
      </div>
    <% end %>
    <%= link_to gana_arranca_index_path do %>
      <div class="gana-genera-a1">
      </div>
    <% end %>
    <%= link_to gana_navega_index_path do %>
      <div class="gana-genera-n">
      </div>
    <% end %>
    <%= link_to gana_aporta_index_path do %>
      <div class="gana-genera-a2">
      </div>
    <% end %>
    <%= link_to gana_mas_index_path do %>
      <div class="gana-genera-mas">
      </div>
    <% end %>
  <% end %>
  <p>Kit de <b>herramientas</b> para Presupuestos Participativos</p>
  <hr />

  <%= content_tag(:div, class: "first-step") do %>
    <%= content_tag(:div, class: "image-first-step") do %>
      <div class="gana-genera-first-step"></div>
    <% end %>

    <%= content_tag(:div, class: "text-first-step") do %>
      <h3>Es el primer paso de nuestro recorrido.</h3>
      <%= content_tag(:p, "Aquí vamos a conformar el grupo promotor, implicando a diferentes actores en la gestación e implementación de los presupuestos participativos.") %>
      <%= image_tag("WEB-GANA-55") %>
    <% end %>
  <% end %>
  <hr />

<% end %>



<%= render template: "footer/index" %>
