<%= render template: "topbar/index" %>

<%= content_tag(:div, class: "main-genera") do %>
  <%= content_tag(:div, class: "gana-div") do %>
    <%= link_to gana_genera_index_path do %>
      <div class="gana-acompana-g">
      </div>
    <% end %>
    <%= link_to gana_arranca_index_path do %>
      <div class="gana-acompana-a1">
      </div>
    <% end %>
    <%= link_to gana_navega_index_path do %>
      <div class="gana-acompana-n">
      </div>
    <% end %>
    <%= link_to gana_acompana_index_path do %>
      <div class="gana-acompana-a2">
      </div>
    <% end %>
      <div class="gana-acompana-mas">
      </div>
  <% end %>
  <p>Kit de <b>herramientas</b> para Presupuestos Participativos</p>

  <hr class="acompana-hr1">

  <%= content_tag(:div, class: "first-step") do %>
    <%= content_tag(:div, class: "image-first-step") do %>
      <div class="gana-acompana-first-step"></div>
    <% end %>

    <%= content_tag(:div, class: "text-first-step") do %>
      <%= content_tag(:p, "Nos organizamos para garantizar que los proyectos se concreten a través de mecanismos de transparencia y control ciudadano. ") %>
      <%= image_tag("4-96") %>
    <% end %>
  <% end %>

  <hr class="acompana-hr2">
  <%= content_tag(:div, class: "genera-second-step") do %>
    <%= content_tag(:div, class: "second-step-flex") do %>
      <%= content_tag(:div, class: "images-genera-second-step") do %>
        <%= image_tag("barrra-86", class: "background-blue") %>
        <%= content_tag(:div, class: "img-genera-secon-step") do %>
          <%= image_tag("5-87", class: "genera-herramientas") %>
          <%= image_tag("WEB-GANA-106", class: "gana-mas-image") %>
        <% end %>
      <% end %>
      <%= content_tag(:div, class: "second-step-content") do %>
        <%= image_tag("WEB-GANA-105", class: "title-second-step") %>
        <%= content_tag(:p, "Controlaremos la ejecución presupuestaria de los proyectos elegidos.") %>
      <% end %>
    <% end %>

    <%= content_tag(:div, class: "blue-genera-second-step") do %>
      <div class="background-acompana-second-step">
      </div>
    <% end %>
    <%= content_tag(:div, class: "descarga-second-step") do %>
      <%= image_tag("WEB-GANA-102") %>
      <%= image_tag("1-79") %>
    <% end %>
  <% end %>

  <hr class="hr3">

  <%= content_tag(:div, class: "gana-actores") do %>
    <%= content_tag(:div, class: "gana-actores-title") do %>
      <%= content_tag(:div, class: "title-actores") do %>
        <%= image_tag("WEB-GANA-103", class: "name-title-actors") %>
        <p> Presionaremos <b>socialmente</b> para garantizar el cumplimiento de los <b>proyectos</b>.</p>
      <% end %>
      <%= image_tag("WEB-GANA-104", class: "personas-title-actors") %>
    <% end %>

    <%= content_tag(:div, class: "blue-genera-third-step") do %>
      <div class="background-acompana-third-step">
      </div>
    <% end %>
    <%= content_tag(:div, class: "descarga-third-step") do %>
      <%= image_tag("WEB-GANA-102") %>
      <%= image_tag("1-79") %>
    <% end %>
  <% end %>


  <hr class="hr4">

  <%= image_tag("barrra-86", class: "background-blue-footer") %>

  <%= content_tag(:div, class: "genera-footer-block") do %>
    <%= content_tag(:div, class: "genera-footer") do %>
      <%= link_to gana_genera_index_path do %>
        <div class="gana-acompana-g"></div>
        <p>1</p>
      <% end %>
      <%= link_to gana_arranca_index_path do %>
        <div class="gana-acompana-a1">
        </div>
        <p>2</p>
      <% end %>
      <%= link_to gana_navega_index_path do %>
        <div class="gana-acompana-n">
        </div>
        <p>3</p>
      <% end %>
      <%= link_to gana_acompana_index_path do %>
        <div class="gana-acompana-a2">
        </div>
        <p>4</p>
      <% end %>
      <div class="gana-acompana-mas">
      </div>

    <% end %>
    <p style="color: #901183; margin-right: 5%;"><b>¡Genial!</b></p>
    <p style="width: 40%; font-size: 13px;margin:auto;">Te invitamos a pasar a la seguinte etapa.<br>No olvides dar check en tu <b>Lienzo de Presupuestos Participativos</b> y compartir tu experiencia en redes sociales con el <b>#ganamas</b></p>
  <% end %>
<% end %>

<%= render template: "footer/index" %>
